<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583695191568-0mogk0t1o0a7celvnk57lbm1tmm37h59.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583695191568-0mogk0t1o0a7celvnk57lbm1tmm37h59</string>
	<key>API_KEY</key>
	<string>AIzaSyBsVAyEe7oFy2xdrM4yGO3de1OIg0mVywM</string>
	<key>GCM_SENDER_ID</key>
	<string>583695191568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.intruderAlertAndroid.teste</string>
	<key>PROJECT_ID</key>
	<string>alarme-8672a</string>
	<key>STORAGE_BUCKET</key>
	<string>alarme-8672a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583695191568:ios:9bae9c8521621e38d08495</string>
	<key>DATABASE_URL</key>
	<string>https://alarme-8672a-default-rtdb.firebaseio.com</string>
</dict>
</plist>